body{
	background-color: hsla(0, 0%, 98%, 1);
	background-image: url('../images/bg/bg.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
main.main{
	background-color: hsla(0, 0%, 100%, .94);
	align-items: center;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}
main.main > header{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	letter-spacing: 0.1rem;
	text-align: center;
}
main.main > header > h1{
	align-items: center;
	color: hsla(0, 0%, 20%, 1);
	display: flex;
	font-weight: 700;
	font-size: 2.2rem;
	margin-bottom: .6rem;
}
main.main > header img{
	width: 100px;
}
main.main > header > h1 span{
	background-color: hsla(9, 50%, 56%, 1);
	border-radius: .2rem;
	color: hsla(0, 0%, 98%, 1);
	display: flex;
	align-items: center;
	padding: .2rem;
	justify-content: center;
}
main.main > header > h2{
	color: hsla(0, 0%, 30%, 1);
	font-weight: normal;
	font-size: 1rem;
}
main.main > header > h3{
	color: hsla(0, 0%, 30%, 1);
	font-weight: normal;
	font-size: 1rem;
	margin-top: 1rem;
}
@media screen and (max-width: 400px){
	main.main{
		padding: 0 1.6rem;
	}
}